.restaurant__list__row, .restaurant__list, .operation__steps {
  display: flex;
  flex-direction: column;
}

.footer, .menu__list, .menu, .restaurant, .operation, .presentation {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 50px;
}

.menu {
  background-color: #f7f7f7;
}
.footer {
  background: #383838;
}

.presentation__text__description, .restaurant__card__txt p {
  color: #848484;
  font-weight: 100;
}

.plate-card__check i, .plate-card, .restaurant__card, .step__box {
  border-radius: 20px;
}

.plate-card, .restaurant__card, .step__box {
  -webkit-box-shadow: 0px 10px 13px -7px #dedede, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #dedede, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.btn--primary {
  -webkit-box-shadow: 0px 10px 13px -7px #dedede, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #848484, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.btn--primary {
  background: #FF79DA;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}

.btn--primary {
  padding: 15px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #9356DC;
  align-self: center;
}

#spinner .ball--8, #spinner .ball--7, #spinner .ball--6, #spinner .ball--5, #spinner .ball--4, #spinner .ball--3, #spinner .ball--2, #spinner .ball--1 {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  left: 45%;
  visibility: hidden;
}

@keyframes hoverBtn {
  from {
    opacity: 1;
    box-shadow: 0px 10px 13px -7px #848484, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  to {
    opacity: 0.8;
    box-shadow: 3px 13px 16px -7px #2b2b2b, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}
@keyframes roll {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes togggleFav {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(180deg);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    transform: rotate(0deg) translateX(50px);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg) translateX(50px);
    visibility: visible;
  }
}
.appear--1 {
  animation: appear 0.5s 1s forwards;
}

.appear--2 {
  animation: appear 0.5s 2s forwards;
}

.appear--3 {
  animation: appear 0.5s 3s forwards;
}

.ball--1 {
  animation: bounce 1s 100ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

.ball--2 {
  animation: bounce 1s 200ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

.ball--3 {
  animation: bounce 1s 300ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

.ball--4 {
  animation: bounce 1s 400ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

.ball--5 {
  animation: bounce 1s 500ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

.ball--6 {
  animation: bounce 1s 600ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

.ball--7 {
  animation: bounce 1s 700ms 2 cubic-bezier(0.93, -0.01, 0.25, 1);
}

@keyframes blur {
  0% {
    filter: blur(5px);
  }
  90% {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blur {
  animation: blur 2.6s;
}

* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
}

.txt--heading, .menu__list .meal-parts__heading {
  font-size: 1.15rem;
  font-weight: bold;
}
.txt--bold {
  font-weight: bold;
}
.txt--title {
  font-family: "Shrikhand";
}
.txt--center {
  text-align: center;
}
.txt--light {
  color: #848484;
}
.txt--uppercase, .menu__list .meal-parts__heading {
  text-transform: uppercase;
}

.step__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 25%;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
}
.step__box p {
  margin: 5%;
}
.step__box__nb {
  padding: 5px;
  width: 13px;
  height: 13px;
  position: relative;
  margin-left: -10px;
  background-color: #9356DC;
  border: 1px solid #f7f7f7;
  border-radius: 100%;
  text-align: center;
  font-size: 0.85rem;
  color: white;
}
.step__box__nb p {
  position: relative;
  bottom: 2px;
}

.restaurant__card {
  display: grid;
  grid-template-columns: 66fr 33fr;
  grid-template-rows: 100fr 100fr 50fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
  background-color: white;
}
.restaurant__card__img {
  grid-area: 1/1/3/3;
}
.restaurant__card__img img {
  height: 250px;
  width: 100%;
  overflow: visible;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__card__txt {
  grid-area: 3/1/4/2;
  padding-left: 10px;
  line-height: 5px;
  margin-left: 10px;
}
.restaurant__card__txt h3 {
  overflow: visible;
}
.restaurant__card__fav {
  grid-area: 3/2/4/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  z-index: 99999;
}
.restaurant__card__fav--checked {
  font-size: 25px;
  color: #9356DC;
  position: absolute;
  opacity: 0;
  z-index: 100;
}
.restaurant__card__fav--unchecked {
  position: absolute;
  opacity: 1;
}
.restaurant__card__fav i {
  font-size: 25px;
}
.restaurant__card__new {
  grid-area: 1/2/2/3;
}
.restaurant__card__new p {
  width: 80%;
  padding: 5px;
  text-align: center;
  color: #1b6150;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  border-radius: 2px;
}
.restaurant__card:active .restaurant__card__fav--unchecked {
  animation: togggleFav 0.25s forwards ease-in-out;
}
.restaurant__card:active .restaurant__card__fav--checked {
  animation: 0.25s togggleFav 0.25s reverse forwards ease-in-out;
}
@media (min-width: 1024px) {
  .restaurant__card:hover .restaurant__card__fav--unchecked {
    animation: togggleFav 0.25s forwards ease-in-out;
  }
  .restaurant__card:hover .restaurant__card__fav--checked {
    animation: 0.25s togggleFav 0.25s reverse forwards ease-in-out;
  }
}

.plate-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  margin-top: 18px;
  padding: 15px;
  width: 90%;
}
.plate-card__content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  white-space: nowrap;
  transition: width 0.5s;
}
.plate-card__check {
  display: flex;
  width: 0;
  margin: -15px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: width 0.5s;
}
.plate-card__check i {
  overflow: hidden;
  width: 23px;
  height: 23px;
  margin: auto;
  line-height: 1.5;
  text-align: center;
  color: #99E2D0;
  background-color: white;
  transition: visibility 2s;
}
.plate-card__text {
  max-width: max-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plate-card__text--heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plate-card__text--description {
  margin-top: 3px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #848484;
  font-weight: 100;
}
.plate-card__price {
  align-self: flex-end;
  width: 10%;
  text-align: end;
  margin-right: 10px;
}
.plate-card:active .plate-card__content {
  width: 60%;
}
.plate-card:active .plate-card__check {
  width: 15%;
}
.plate-card:active .plate-card__check i {
  animation: roll 0.5s forwards;
}
@media (min-width: 1024px) {
  .plate-card {
    width: 285px;
  }
  .plate-card:hover {
    width: 285px;
  }
  .plate-card:hover .plate-card__content {
    width: 60%;
  }
  .plate-card:hover .plate-card__check {
    width: 15%;
  }
  .plate-card:hover .plate-card__check i {
    animation: roll 0.5s forwards;
  }
}

#spinner {
  visibility: visible;
  display: flex;
  height: 50px;
  width: 100%;
  z-index: 99999;
  position: absolute;
  top: 350px;
  left: 50px;
}
#spinner .ball--1 {
  background-color: #9356DC;
  opacity: 100%;
}
#spinner .ball--2 {
  background-color: #FF79DA;
  opacity: 90%;
}
#spinner .ball--3 {
  background-color: #99E2D0;
  opacity: 80%;
}
#spinner .ball--4 {
  background-color: #9356DC;
  opacity: 70%;
}
#spinner .ball--5 {
  background-color: #FF79DA;
  opacity: 60%;
}
#spinner .ball--6 {
  background-color: #99E2D0;
  opacity: 50%;
}
#spinner .ball--7 {
  background-color: #9356DC;
  opacity: 40%;
}
#spinner .ball--8 {
  background-color: #FF79DA;
  opacity: 30%;
}

.vertical-bar {
  display: none;
  align-self: center;
  width: 2px;
  height: 225px;
  background-color: #99E2D0;
}

.btn--primary {
  width: 55%;
  max-width: 250px;
  font-size: 1.03rem;
  transition: all 0.5s;
}
.btn--primary:hover {
  transition: all 0.5s;
  animation: hoverBtn 0.5s forwards;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-end;
  height: 35px;
  margin-bottom: 10px;
  padding: 10px;
}
.header__back {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.header__heading {
  font-family: "Shrikhand";
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

.presentation {
  padding-top: 0;
}
.presentation__localisation {
  background-color: #eaeaea;
  margin-left: -10px;
  margin-right: -10px;
  box-shadow: inset 0 3px 3px 0 #c4c4c4, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.presentation__localisation p i {
  margin-right: 15px;
}
.presentation__text {
  padding: 20px;
}
.presentation__text__heading {
  font-weight: bold;
  font-size: 1.7em;
}
.presentation__text__description {
  margin-top: 0;
}

.operation__steps {
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
@media (min-width: 1024px) {
  .operation__steps {
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
  }
  .operation__steps .step__box {
    width: 27%;
    height: 50px;
  }
}

.restaurant__list__row {
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurant__list__row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .restaurant__list__row .restaurant__card {
    min-width: 460px;
    max-width: 500px;
    margin: auto auto 15px;
  }
}

.restaurant__img {
  display: flex;
  overflow: hidden;
  max-height: 450px;
}
.restaurant__img img {
  width: 100%;
  position: relative;
  z-index: -9999;
}
@media (min-width: 1024px) {
  .restaurant__img {
    height: 848px;
    max-height: 848px;
  }
  .restaurant__img__img {
    transform: scale(2);
  }
}

.menu {
  margin-top: -25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__heading {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__heading i {
  margin-right: 25px;
}
.menu__list .meal-parts {
  margin-bottom: 45px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.menu__list .meal-parts__heading {
  color: #848484;
}
.menu__list .meal-parts__heading--underline {
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  margin-top: -12px;
}
@media (min-width: 1024px) {
  .menu {
    position: absolute;
    width: 100%;
    top: 298px;
    background-color: #f7f7f7b7;
  }
  .menu__list {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }
  .menu__list .vertical-bar {
    display: block;
  }
  .menu__list .meal-parts {
    max-width: 30%;
  }
}

.footer {
  padding-left: 0;
}
.footer__heading {
  color: white;
}
.footer li {
  list-style: none;
}
.footer li a {
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
}
.footer li a i {
  width: 10px;
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
