
* {
    font-family: $default;
}
a {
    text-decoration: none;
    margin-bottom:10px;
    color: black;
}
.txt {

    &--heading {
        font-size: 1.15rem;
        font-weight: bold;
    }
    &--bold {
        font-weight: bold;
    }
    &--title {
        font-family: $title;
    }
    &--center {
        text-align: center;
    }
    &--light {
        color: darken($gray, 45%);
    }
    &--uppercase {
        text-transform: uppercase;
    }
}
.heading {
    font-size: 1.15rem;
    font-weight: bold;
}

.title {
    font-size: 1.2rem;
    
    
}
