
// Colors
$primaryColor: #9356DC;
$primaryColorLight: lighten(#9356DC, 5%);

$secondaryColor: #FF79DA;
$secondaryColorLight: lighten(#FF79DA, 5%);

$thirdColor: #99E2D0;

$gray: #f7f7f7;

// Fonts
$title: 'Shrikhand';
$default: 'Roboto';

// sizes 
$radius: 20px;
$tab-width: 1024px;
