
// Colors
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;
$gray: #f6f6f6;


// Fonts
$title: 'Shrikhand';
$default: 'Roboto';

// sizes 
$radius: 20px;
$max-width-cards: 358px;